.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container h2 {
  background-color: rgb(155, 24, 24);
  padding: 1rem;
  border-radius: .5rem;
}