.container {
  background: #222;
  border-radius: .5rem;
  overflow: hidden;
  padding-bottom: 1rem;
  transition: all ease-in-out .3s;
}

.container:hover {
  transform: scale(105%);
}

.container h2 {
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
}

.container img {
  max-width: 100%;
}