.container {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  gap: 2rem;
  margin-top: 2rem;
  justify-content: center;
}

.inputContainer {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputContainer input {
  overflow: hidden;
  font-size: 1.5rem;
  padding: .25rem .5rem;
  outline: none;
  border-radius: .75rem;
  border: none;
}

@media (max-width: 800px) {
  .container {
    grid-template-columns: 200px 200px;
  }
}

@media (max-width: 500px) {
  .container {
    grid-template-columns: 200px;
  }
}